<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="GD_BD_BIBLIO.Properties.Settings.BDConnectionString_Couche_Biblio"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\COURS\POO\GD_BD_BIBLIO\bibliotheque.mdf;Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>